@{
    List<CardProject> cardProjects = (List<CardProject>)ViewBag.CP;
    List<CardServices> cardServices = (List<CardServices>)ViewBag.CS;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/PersonalWebSite.styles.css" asp-append-version="true" />*@
    <title>AbdulRahman Al-Ismail</title>
</head>

<body>
    <header>
        <a href="#" class="logo">AbdulRahman</a>
        <nav class="navigation">
            <a href="#services">Services</a>
            <a href="#projects">projects</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>
    <section class="main">
        <div>
            @*<a href="~/detaies.html" target="_blank">aaaaaaa</a>*@
            <h2>Hello I'm AbdulRahman<br> <span>Information Engineer</span></h2>
            <h3>I Build Personal Website</h3>
            <a href="#projects" class="main-btn">View My Work</a>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/abdul-rahman-al-ismail-48178323a?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BPpUobvFYQHefG94EOBuu9A%3D%3D" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/abdul-rahmn" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100048513832291" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://wa.me/905518061064" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="https://t.me/abdul_rahman771" target="_blank"><i class="fa-brands fa-telegram"></i></a>
                <a href="mailto:alasmaylbdalrhmn4@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
            </div>
        </div>
    </section>
    <section class="cards" id="services">
        <h2 class="title">Services</h2>
        <div class="content">
            @foreach (CardServices item in cardServices)
            {
                <div class="card">
                    <div class="icon">
                        <i class="@item.icon"></i>
                    </div>
                    <div class="info">
                        <h3>@item.title</h3>
                        <p>@item.description</p>
                    </div>
                </div>
            }
        </div>

    </section>
    <section class="projects" id="projects">
        <h2 class="title">Projects</h2>
        <div class="content">
            @foreach (CardProject item in cardProjects)
            {
                <div class="project-card">
                    <div class="project-image">
                        <img src=@item.image alt="">
                    </div>
                    <div class="project-info">
                        <p class="project-catigory">@item.projectCatigory</p>
                        <hr>
                        <strong class="project-title">
                            <span>@item.projectTitle</span>
                            @*<a href=detailes.html target="_blank" class="more-detailes">More Detailes</a>*@
                            <a asp-controller="Home" asp-action="Detailes" asp-route-id="@item.id" target="_blank" class="more-detailes">More Detailes</a>
                            @*@Html.ActionLink("More Detailes", "Detailes", new { id=item.id })*@
                        </strong>
                    </div>
                </div>
            }
        </div>
    </section>
    <section class="contact" id="contact">
        <h2 class="title">let's Work Together</h2>
        <div class="content">
            <div class="card">
                <div class="icon">
                    <i class="fa-solid fa-phone"></i>
                </div>
                <div class="info">
                    <h3>Phone</h3>
                    <p>+90 551 806 1064</p>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="info">
                    <h3>Email</h3>
                    <span>alasmaylbdalrhmn4 @@gmail.com</span><br>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <p class="footer-title">| <span>AbdulRahman AL-Ismail</span> |</p>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/abdul-rahman-al-ismail-48178323a?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BPpUobvFYQHefG94EOBuu9A%3D%3D" target="_bl ank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/abdul-rahmn" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100048513832291" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://wa.me/639424728614" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="https://t.me/abdul_rahman771" target="_blank"><i class="fa-brands fa-telegram"></i></a>
            <a href="mailto:alasmaylbdalrhmn4@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
        </div>
    </footer>
</body>

</html>